In [3]:
%load_ext autoreload
%autoreload 2

In [4]:
import sys
sys.path.append('math_pipeline/')

In [5]:
import pandas as pd
import numpy as np

import start_experiment

In [ ]:
experiment_result = start_experiment.start_all('math_pipeline/config.yaml')

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

100%|██████████| 36/36 [14:16<00:00, 23.79s/it]
100%|██████████| 36/36 [09:36<00:00, 16.02s/it]
100%|██████████| 36/36 [13:49<00:00, 23.03s/it]
100%|██████████| 36/36 [13:49<00:00, 23.05s/it]
100%|██████████| 36/36 [13:49<00:00, 23.03s/it]

agent_0    0.661111
agent_1    0.733333
agent_2    0.705556
agent_3    0.722222
agent_4    0.727778
dtype: float64 Max possible accuracy 0.9

  7%|▋         | 13/180 [02:50<36:02, 12.95s/it]

In [6]:
data_result = pd.read_csv('mistral_final_agent.csv')

In [8]:
import json
with open('test.json', 'r') as f:
    test = json.load(f)

In [9]:
answers = [int(element['final_ans']) for element in test]

In [7]:
data_result['true_answer'] = answers

     final_agent
0             13
1              4
2             79
3             26
4             72
..           ...
175           15
176           80
177           35
178           34
179           61

[180 rows x 1 columns]